img{
	max-width: 200px;
}

/* To remove the default round edges and border in the navbar */
.navbar{
	border-radius: 0px;
	border:0px;
}

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
    font-family: 'AnimalsNormal';
    src: url('fonts/animals-webfont.eot');
    src: url('fonts/animals-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/animals-webfont.woff') format('woff'),
         url('fonts/animals-webfont.ttf') format('truetype'),
         url('fonts/animals-webfont.svg#AnimalsNormal') format('svg');
    font-weight: normal;
    font-style: normal;
   
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    background: #fff;
    font-weight: 300;
    font-size: 15px;
    color: #333;
     postion:relative;
    -webkit-font-smoothing: antialiased;
}

a {
	text-decoration: none;
}

.page{
	padding: 50px 0;
}

.page h2{
	text-align: center;
	margin-bottom: 30px;
}

.item-center{
	margin-left: auto;
    margin-right: auto;
    text-align: center;
    height:400px; /* or whatever width you want. */
   max-height:400px; /* or whatever width you want. */
}

.bg-black{
	background-color: #1a1a1a;
	color:white;
}
.bg-white{
	background-color: white;
	color:black;
}
.bg-yellow{
	background-color: yellow;
	color:black;
}
.bg-pink{
	background-color: #ff99dd;
	color:black;
}
.bg-blue{
	background-color: #80ffff;
	color:black;
}

.bd-grey{
	 border:2px dashed grey;
}

/* Contact Form
=================================================================== Starts */

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
  	color: #fff;
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
  	color: #fff;
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
  	color: #fff;
}

#contact-form input[type="text"] {
	border: 0px;
	height: 40px;
	color: #fff;
	background: rgba(0,0,0,.2) !important;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;	
}

#contact-form textarea {
	border: 0px;
	color: #fff;
	background: rgba(0,0,0,.2) !important;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
		    box-shadow: none;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;	
}
/* Contact Form
=================================================================== Ends*/

/* Header Navigation
=================================================================== Starts*/

header .navbar{
	padding:30px 0;
}

header .navbar-default{
	background-color: transparent;
	border:none;
}

header .navbar-default .navbar-nav a{
	color:green;
	padding:5px 8px;
}
header .navbar-default .navbar-nav a:hover{
	color:#EEC856;
}

header .navbar-default .navbar-nav .active a{
	font-weight: 700;
	color:#EEC856;
	background: transparent;
	border-bottom:4px solid #EEC856;
	text-shadow: none;
}

header .navbar-default .navbar-nav .active a:hover{
	color:#E15D5F;
	background: transparent;
	text-shadow: none;
}
/* Header Navigation
=================================================================== Ends*/

/* Branding Navigation
=================================================================== Starts*/

header .navbar-brand {
	background:url(../img/.svg);
	background-repeat: no-repeat;
	background-position: 15px 0;
	height: auto;
}

header .navbar-brand h1{
	color:white;
	margin:0;
	font-size:1.8em;
	font-weight: 400;
	padding-left: 105;
}
